@model LeaveManagement.Models.ViewLeaveAllocationVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h1>Details For - @Model.Employee.FirstName @Model.Employee.LastName</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TaxID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TaxID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateJoined)
        </dd>
    </dl>
</div>

<hr />
<h2>Leave Allocations</h2>

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <table class="table">
            @*@foreach (var item in Model.LeaveAllocations)
            {*@
            @*<li class="list-group-item">
                <h6>
                    @item.LeaveType.Name<span class="badge badge-secondary">         @item.NumberofDays</span>|
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-warning">Edit</a>
                </h6>
            </li>*@

            <thead>
                <tr>
                    <th>
                        Leave Type
                    </th>
                    <th>
                        Number of Days
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LeaveAllocations)
                {
                    <tr>
                        <td>
                            @item.LeaveType.Name
                        </td>
                        <td>
                            @item.NumberofDays
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-warning">Edit</a>

                        </td>
                    </tr>
                }
            </tbody>
            </table>
        @*}*@
        </ul>
</div>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Employee.Id">Edit</a> |*@
    <a asp-action="ListEmployees">Back to List</a>
</div>